
.searchBar{
    align-content: center;
}


.searchInput{
    font-size: 5vh;
    background-color: rgba(255, 255, 255, 0.5);
    color: grey;
    border: none;
    border-radius: 5px;
}

.submitButton{
    align-self: center;
    font-size: 4.6vh;
    background-color: transparent;
    border: none;
}