.imageCard{
    display: flex;
    flex-direction: column;
}

.image{
    
    margin-top: 3vh;
    height: 19vh;
    width: 15vw;
    margin-right: 5.5vh;
    border: 2px solid black;
}

.title{
    margin-top: 2vh;
    margin-right: 5vh;
    color: white;
    font-size: 3vh;
}